body {
      background: rgb(255, 255, 255);
    }

.todo-container {
      background: rgb(107, 131, 131);
      width: 40vw;
      margin: 10em auto;
      border-radius: 15px;
      padding: 20px 10px;
      color: rgb(0, 0, 0);
      border: 3px solid rgb(87, 86, 83);
      font-family: 'Times New Roman', Times, serif;
    }

.task button{
      background: rgb(12, 124, 251);
      border-radius: 5px;
      margin: 0px 5px;
      padding: 3px 5px;
      border: none;
      cursor: pointer;
      color: white;
      float: right;
    }

.header {
      margin: 0.5em;
      font-size: 2em;
      text-align: center;
    }

.create-task input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}

.create-task input[type=submit] {
  width: 100%;
  background-color: #00ffd5;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.dateTime{
  background-color: #fff;
  padding: 10px 15px;
  margin: 0px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.nameApp{
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  text-align: center;
  font-size: 50px;
}

.somebox{
  width: 30%;
  float: left;
  border-radius: 5px;
  text-align:center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 30px;
  height: 30px;
}

.clear { clear: both }

a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 80%;
  padding: 10px;
}

a:hover, a:active {
  background-color: rgb(43, 88, 233);
  color: white;
}

.sort{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  /* text-align: center;   */
}
.btnSort{
  padding: 15px 30px 15px 30px;
}
